{%extends 'base.html'%}


{%block head%}
<title>Courses</title>
{%endblock%}


{%block body%}
<div class="topnav" id="myTopnav">
    <a class="techwatt"><h4>TECHWATT.AI</h4></a>
    <a href="/">HOME</a>
    <a href="/bookus">BOOK US</a>
    <a href="/pricing">PRICING</a>
    <a href="http://felixsam10.pythonanywhere.com/blogs" target="_blank">BLOG</a>
    <a href="mailto:felixsam922@gmail.com"target='_blank'>CONTACT US</a>
    <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
  </div>
<hr>

<div class="row">
    <div class="column">
      <div class="card" style="height: 100%;">
        
       <div>
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/UaXgJb2tlVw?si=1cYwrAaeJ34wa3eP&amp;controls=0" 
        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
       </div>
        <div class="container">
          <h2>Push Up Counter</h2>
          <p> 
            This is a computer vision Project that counts the 
            number of pushup for you.
          </p>
          <a href="https://youtu.be/UaXgJb2tlVw?si=3VYPudgXKrgl68MH"target='_blank'><button type="button" 
            class="w-100 btn btn-lg btn-primary">Get Course Here</button></a> 
        </div>
        
      </div>
    </div>
  
  
    <div class="column">
      <div class="card" style="height: 100%;">
        
       <div>
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/FBavXyN18K8?si=xgi2mPTOtsZexzAe&amp;controls=0" 
        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
       </div>
        <div class="container">
          <h2>Fire Detection</h2>
          <p> 
            Build your Custom Fire Detection model using YOLOV8
          </p>
          <a href="https://youtu.be/FBavXyN18K8?si=QeMAYLGNlragjLMq"target='_blank'><button type="button" 
            class="w-100 btn btn-lg btn-primary">Get Course Here</button></a> 
        </div>
        
      </div>
    </div>
  
  
    <div class="column">
      <div class="card" style="height: 100%;">
        
       <div> 
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/JDzSYEr05Qg?si=2_SVUnERHLgIi9Ys&amp;controls=0" title="YouTube video player" 
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
       </div>
        <div class="container">
          <h2>Vehicle Tracking and Counting</h2>
          <p> 
            This is a computer vision Project that detects and  
            counts the number of vehicles on on the road.
          </p>
          <a href="https://youtu.be/JDzSYEr05Qg?si=oD39McHir7LSkHOD"target='_blank'><button type="button" 
            class="w-100 btn btn-lg btn-primary">Get Course Here</button></a> 
        </div>
        
      </div>
    </div>
  
    <div class="column">
      <div class="card" style="height: 100%;">
        
       <div>
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/fmolIrpXRy0?si=Af7En_Q83fVP5sPj&amp;controls=0" 
        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
        <div class="container">
          <h2>Build Your Computer Vision Game</h2>
          <p> 
            This is a computer vision based game
           that everyone can build after following this steps.
          </p>
          <a href="https://youtu.be/fmolIrpXRy0?si=Af7En_Q83fVP5sPj"target='_blank'><button type="button" 
            class="w-100 btn btn-lg btn-primary">Get Course Here</button></a> 
        </div>
        
      </div>
    </div>
  
  
    <div class="column">
      <div class="card" style="height: 100%;">
        
       <div>
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/HC62SIIbGyo?si=8sGg2Qz620de0dbg&amp;controls=0" 
        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

       </div>
        <div class="container">
          <h2>AI Dumbell Trainer</h2>
          <p> 
            Build your own AI based Dumbell should trainer
            that counts the number of shouder presses you've done.
          </p>
          <a href="https://youtu.be/HC62SIIbGyo?si=SgvTOfLDXpaIsxvf"target='_blank'><button type="button" 
            class="w-100 btn btn-lg btn-primary">Get Course Here</button></a> 
        </div>
        
      </div>
    </div>
  
  
    <div class="column">
      <div class="card" style="height: 100%;">
        
       <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/SVlyGX5_mBc?si=tuq6NnE9QtyAII9R&amp;controls=0" 
        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
        <div class="container">
          <h2>Lane Based Vehicle Counter</h2>
          <p> 
            This is a vehicle counter project that counts all the 
            number of vehicles in their respective lanes on the road.
          </p>
          <a href="https://youtu.be/SVlyGX5_mBc?si=tuq6NnE9QtyAII9R"target='_blank'><button type="button" 
            class="w-100 btn btn-lg btn-primary">Get Course Here</button></a> 
        </div>
        
      </div>  
  </div>
  

  <div class="column">
    <div class="card" style="height: 100%;">
      
     <div>
      <iframe width="100%" height="315" src="https://www.youtube.com/embed/FJx4iu_Sd8I?si=zTBIzO_f1LWswhCv&amp;controls=0" 
      title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
      referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
     </div>
      <div class="container">
        <h2>Face Anonymizer</h2>
        <p> 
          This is a computer vision Project that hides peoples
          face.
        </p>
        <a href="https://youtu.be/FJx4iu_Sd8I?si=zTBIzO_f1LWswhCv"target='_blank'><button type="button" 
          class="w-100 btn btn-lg btn-primary">Get Course Here</button></a> 
      </div>
      
    </div>
  </div>

  <div class="column">
    <div class="card" style="height: 100%;">
      
     <div>
      <iframe width="100%" height="315" src="https://www.youtube.com/embed/LH9xLtwLxQs?si=LM4Wm8ql3jSM2Uud&amp;controls=0" 
      title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
      referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
     </div>
      <div class="container">
        <h2>Counting People in a Defined Zone</h2>
        <p> 
          This is a computer vision Project that counts the 
          number of people in  a defined zone.
        </p>
        <a href="https://youtu.be/LH9xLtwLxQs?si=LM4Wm8ql3jSM2Uud"target='_blank'><button type="button" 
          class="w-100 btn btn-lg btn-primary">Get Course Here</button></a> 
      </div>
      
    </div>
  </div>
  <div class="column">
    <div class="card" style="height: 100%;">
      
     <div>
      <iframe width="100%" height="315" src="https://www.youtube.com/embed/iEY6l40pdds?si=LBOoOS2qJ9TVc7pQ&amp;controls=0" 
      title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
      referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      <div class="container">
        <h2>Build a Language Translator App</h2>
        <p> 
          Learn how to simply build your very own Language
          Translator.
        </p>
        <a href="https://youtu.be/iEY6l40pdds?si=LBOoOS2qJ9TVc7pQ"target='_blank'><button type="button" 
          class="w-100 btn btn-lg btn-primary">Get Course Here</button></a> 
      </div>
      
    </div>
  </div>
 </div>

  
  

  
  
  <hr>
  <h2 style="text-align:center;font-weight: bold;">Follow Our Socials</h2>
  <hr>
  <div style="display: grid; place-items: center;">
    <div class="social-buttons">
      <a href="https://www.facebook.com/felix.nanor.3?mibextid=LQQJ4d" target="_blank"><i class="fab fa-facebook"></i></a>
      <a href="https://x.com/felixsa41013626?s=21&t=m0BDkue5ZnFbsOhDG5Tptg" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="https://www.instagram.com/tech_watt?igsh=bm93ZWV1NmpxNmZz&utm_source=qr" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://www.youtube.com/@tech_watt" target="_blank"><i class="fab fa-youtube"></i></a>
      <a href="http://linkedin.com/in/felix-nanor-4599b2204" target="_blank"><i class="fab fa-linkedin-in"></i></a>
      <a href="#" target="_blank" ><i class="fab fa-tiktok"></i></a>
      <a href="https://github.com/Tech-Watt" target="_blank" ><i class="fab fa-github"></i></a>
    </div>
  </div>
  
  <!-- ............................................................................ -->
  <div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <p class="col-md-4 mb-0 text-body-secondary">&copy; 2024 Company, Inc</p>
  
      <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <img src={{logo}} class="bi me-2" style="width: 80px;" />
      </a>
  
      <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
        <li class="nav-item"><a href="/courses" class="nav-link px-2 text-body-secondary">Projects</a></li>
        <li class="nav-item"><a href="/pricing" class="nav-link px-2 text-body-secondary">Pricing</a></li>
        <li class="nav-item"><a href="/bookus" class="nav-link px-2 text-body-secondary">Book Us</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Blog</a></li>
      </ul>
    </footer>
  </div>
  


{%endblock%}
