{%extends 'base.html'%}


{%block head%}
<title>Courses</title>
{%endblock%}


{%block body%}
<div class="topnav" id="myTopnav">
    <a class="techwatt"><h4>TECHWATT.AI</h4></a>
    <a href="/">HOME</a>
    <a href="/bookus">BOOK US</a>
    <a href="/pricing">PRICING</a>
    <a href="http://felixsam10.pythonanywhere.com/blogs" target="_blank">BLOG</a>
    <a href="mailto:felixsam922@gmail.com"target='_blank'>CONTACT US</a>
    <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
  </div>
<hr>
<div class="row">
    <div class="column">
      <div class="card" style="height: 100%;">
        <img src="{{chatbot}}" alt="image" style="text-align-last: center;width: 100%;height: 100%;text-align:left;word-wrap:break-word;">
        <div class="container">
          <h2>Retrieval Augumented Generation (RAG) Chat Bots</h2>
          <p> 
            We specialize in creating AI bots that are designed to meet the 
            unique needs of individuals and businesses based on data.
            Leveraging the power of artificial intelligence and data-driven approaches, 
            we develop intelligent bots that offer personalized and efficient interactions.
          </p>
          <a href="https://www.youtube.com/@tech_watt"target='_blank'><button type="button" 
            class="w-100 btn btn-lg btn-primary">Get Course Here</button></a> 
        </div>
        
      </div>
    </div>
  
  
    <div class="column">
      <div class="card" style="height: 100%;">
        <img src="{{aiteach}}" alt="image" style="text-align-last: center;width: 100%;height: 100%;text-align:left;word-wrap:break-word;">
        <div class="container">
          <h2>Teaching How to Build Futuristic AI Solutions</h2>
          <p> We specialize in providing Teaching Services that empower 
            individuals to create AI solutions that are highly effective
            and deliver exceptional results. Our focus is on imparting the
            knowledge and skills necessary to
            build AI solutions that surpass mediocrity and truly excel.</p>
            <a href="https://www.youtube.com/@tech_watt"target='_blank'><button type="button" 
                class="w-100 btn btn-lg btn-primary">Get Course Here</button></a> 
        </div>
      </div>
    </div>
  
  
    <div class="column">
      <div class="card" style="height: 100%;">
        <img src="{{comvision}}" alt="image" style="text-align-last: center;width: 100%;height: 100%;text-align:left;word-wrap:break-word;">
        <div class="container">
          <h2>AI and Computer Vision Solutions</h2>
          <p>
            We develop advanced computer vision solutions that are customized to
            meet the specific requirements of individuals and businesses. 
            By harnessing the power of cutting-edge technologies and leveraging 
            data-driven approaches, we create innovative computer 
            vision solutions that offer enhanced visual perception and understanding.
          </p>
          <a href="https://www.youtube.com/@tech_watt"target='_blank'><button type="button" 
            class="w-100 btn btn-lg btn-primary">Get Course Here</button></a> 
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card" style="height: 100%;">
        <img src="{{freelance}}" alt="image" style="text-align-last: center;width: 100%;height: 100%;text-align:left;word-wrap:break-word;">
        <div class="container">
          <h2>Freelancing Services</h2>
          <p>
            We offer professional freelancing services to 
            individuals and businesses. Our team of experienced 
            freelancers specializes in various fields and can provide 
            high-quality services tailored to meet the specific 
            requirements of our clients.
          </p>
          <a href="https://www.youtube.com/@tech_watt"target='_blank'><button type="button" 
            class="w-100 btn btn-lg btn-primary">Get Course Here</button></a> 
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card" style="height: 100%;">
        <img src="{{consulting}}" alt="image" style="text-align-last: center;width: 100%;height: 100%;text-align:left;word-wrap:break-word;">
        <div class="container">
          <h2>Consultation Services</h2>
          <p>
            We offer specialized consulting services to individuals and businesses, 
            leveraging our expertise in artificial intelligence and data-driven methodologies.
            Our consulting services are designed to provide expert guidance and strategic 
            insights, helping clients harness the power of AI for their specific needs. 
          </p>
          <a href="https://www.youtube.com/@tech_watt"target='_blank'><button type="button" 
            class="w-100 btn btn-lg btn-primary">Get Course Here</button></a> 
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card" style="height: 100%;">
        <img src="{{robotics}}" alt="image" style="width: 100%;height: 100%;text-align:left;word-wrap:break-word;text-align-last: center;">
        <div class="container">
          <h2>Electronics and Robotics</h2>
          <p>
          We offer comprehensive consulting services in the field of robotics and 
          electronics. Leveraging our expertise and deep understanding of these 
          domains, we provide expert guidance and strategic advice to individuals 
          and businesses. Our consulting services cover areas such as robotics 
          system design, electronics prototyping, component selection, and integration. 
          </p>
          <a href="https://www.youtube.com/@tech_watt"target='_blank'><button type="button" 
            class="w-100 btn btn-lg btn-primary">Get Course Here</button></a> 
        </div>
      </div>
    </div>
  </div>
  
  
  <hr>
  <h2 style="text-align:center;font-weight: bold;">Follow Our Socials</h2>
  <hr>
  <div class="social-buttons" style="align-items: center;margin-left: 23%;">
    <a href="https://www.facebook.com/felix.nanor.3?mibextid=LQQJ4d" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://x.com/felixsa41013626?s=21&t=m0BDkue5ZnFbsOhDG5Tptg" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://www.instagram.com/tech_watt?igsh=bm93ZWV1NmpxNmZz&utm_source=qr" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.youtube.com/@tech_watt" target="_blank"><i class="fab fa-youtube"></i></a>
    <a href="http://linkedin.com/in/felix-nanor-4599b2204" target="_blank"><i class="fab fa-linkedin-in"></i></a>
    <a href="#" target="_blank" ><i class="fab fa-tiktok"></i></a>
    <a href="https://github.com/Tech-Watt" target="_blank" ><i class="fab fa-github"></i></a>
  </div>
  
  
  <!-- ............................................................................ -->
  <div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <p class="col-md-4 mb-0 text-body-secondary">&copy; 2024 Company, Inc</p>
  
      <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <img src={{logo}} class="bi me-2" style="width: 80px;" />
      </a>
  
      <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
        <li class="nav-item"><a href="/courses" class="nav-link px-2 text-body-secondary">Courses</a></li>
        <li class="nav-item"><a href="/pricing" class="nav-link px-2 text-body-secondary">Pricing</a></li>
        <li class="nav-item"><a href="/bookus" class="nav-link px-2 text-body-secondary">Book Us</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Blog</a></li>
      </ul>
    </footer>
  </div>
  


{%endblock%}
